repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.7.4 # npm
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.69.2
    hooks:
      - id: renovate-config-validator
        files: .*\.json5$
